@model IEnumerable<ScruffyNerfHerderSabers.ViewModels.TransactionDateGroup>

@{ 
    ViewBag.Title = "Customer Statistics";
}
<h2>Customer Statistics</h2>

<table>
    <tr>
        <th>
            Date
        </th>
        <th>
            Customers
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionDate)
        </td>
        <td>
            @item.CustomerCount
        </td>
    </tr>
}
</table>