@{
    ViewBag.Title = "Contact Scruffy Nerf Herder Sabers";
}
<h2>@ViewBag.Title.</h2>
<h3></h3>
<header class="intro-header" style="background-image: url('../Content/img/lightsaber.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Scruffy Nerf Herder</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="col-md-4">
</div>
    <div class="col-md-4">

            <address style="text-align:center">
                1 Nerf Herder Way<br />
                Coruscant<br />
                <abbr title="Phone"><strong>HT:</strong></abbr>
                90999999-887766-66-6556
            </address>

            <address style="text-align:center">
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@nerfherder.world</a><br />
            </address>
        </div>
<div class="col-md-4">
</div>
