@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Scruffy Nerf Herder Sabers</h1>
        <p> Custom Lightsabers for all of your Jedi and Sith needs</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Kyber Crystals</h2>
            <p>
                Our Kyber Crystals are harvested in the ice caves of Ilum in the ways of old.
            </p>
            <p><a class="btn btn-default" href="http://starwars.wikia.com/wiki/Kyber_crystal">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Hilts</h2>
            <p>Custom made Hilts forged here on Korriban. We offer many types of hilts including double bladed and hilts made with corss guards.</p>
            <p><a class="btn btn-default" href="http://starwars.wikia.com/wiki/Lightsaber_hilt">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Off Hand</h2>
            <p>Do you like to dual weild? We also craft off hand Lightsabers built to your exact specification.</p>
        </div>
    </div>
}