@{
    ViewBag.Title = "Home Page";
}

<header class="intro-header" style="background-image: url('../Content/img/hilt.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Scruffy Nerf Herder</h1>
                    <hr class="small">
                    <span class="subheading"><strong>Custom Lightsabers</strong></span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="row">
    <div class="col-md-4">
        <h2>Kyber Crystals</h2>
        <p>
            Our Kyber Crystals are harvested in the ice caves of Ilum in the ways of old.
        </p>
        <p><a class="btn btn-default" href="http://starwars.wikia.com/wiki/Kyber_crystal">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hilts</h2>
        <p>Custom made Hilts forged here on Korriban. We offer many types of hilts including double bladed and hilts made with corss guards.</p>
        <p><a class="btn btn-default" href="http://starwars.wikia.com/wiki/Lightsaber_hilt">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Off Hand</h2>
        <p>Do you like to dual weild? We also craft off hand Lightsabers built to your exact specification.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
            <img class="thumbnail" src="../Content/img/kyber.jpg" />
    </div>
    <div class="col-md-4">
            <img class="thumbnail" src="../Content/img/multisaber.jpg" />
    </div>
    <div class="col-md-4">
            <img class="thumbnail" src="../Content/img/hddual.jpg" />
    </div>
</div>


